body {
	font: 15px/1.2 Helvetica;
}

dl {
	position: relative;
	float: left;
	clear: left;
	width: 500px;
}
	dl.enhance {
		border: solid #333;
		border-width: 0 0 1px 1px;
	}
		dl.enhance dt {
			width: 150px;
			line-height: 2;
			text-align: center;
			float: left;
			background: #CCC;
			border: solid #333;
			border-width: 1px 1px 0 0;
		}
			dl.enhance dt a {
				height: 30px;
				display: block;
			}
			dl.enhance dt.current {
				background: #FFF;
				border-bottom: 1px solid #FFF;
				position: relative;
				z-index: 2;
			}
				dl.enhance dt.current a {
					height: 29px;
				}
		dl.enhance dd {
			margin: 0;
			padding: 0 10px;
			position: absolute;
			top: 30px;
			border: solid #333;
			border-width: 1px 1px 0 0;
		}
			dl.enhance dd img {
				float: right;
				margin: 10px 0 10px 10px;
			}